<div class="wrapper ">
    <div class="sidebar" data-color="orange" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Big Offers Admin
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <%= link_to(offers_path, class:"nav-link") do %>
              <i class="material-icons">dashboard</i>
              <p>Ofertas</p>
            <% end %>
          </li>
          <% if current_admin.is_default == true %>
            <li class="nav-item ">
              <%= link_to(admins_path, class:"nav-link") do %>
                <i class="material-icons">person</i>
                <p>Assistentes</p>
              <% end %>
            </li>
          <% end %>
          <% if admin_signed_in? %>
            <li class="nav-item ">
              <%= link_to(destroy_admin_session_path, :method => :delete, class:"nav-link")  do %> 
                <i class="material-icons">exit_to_app</i>
                <p>Sair</p>
              <% end %>
            </li>
          <% end %>          
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- End Navbar -->
      <%= yield %>
    </div>
  </div>