<div class="wrapper ">
    <div class="sidebar" data-color="orange" data-background-color="white">
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Big Offers Admin
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <%= link_to(offers_path, class:"nav-link") do %>
              <i class="material-icons">dashboard</i>
              <p>Ofertas</p>
            <% end %>
          </li>
          <% if current_admin.is_default == true %>
            <li class="nav-item ">
              <%= link_to(admins_path, class:"nav-link") do %>
                <i class="material-icons">person</i>
                <p>Assistentes</p>
              <% end %>
            </li>
          <% end %>
          <% if admin_signed_in? %>
            <li class="nav-item ">
              <%= link_to(destroy_admin_session_path, :method => :delete, class:"nav-link")  do %> 
                <i class="material-icons">exit_to_app</i>
                <p>Sair</p>
              <% end %>
            </li>
          <% end %>          
        </ul>
      </div>
    </div>
    <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                  <div class="navbar-wrapper">
                    <a class="navbar-brand" href="#pablo"></a>
                  </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                    </ul>
                  </div>
                </div>
              </nav>
              <!-- End Navbar -->
      <!-- End Navbar -->
      <%= yield %>
    </div>
  </div>