<div id="fh5co-project">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Conheça o Big Offers!</h2>
                <p> O melhor site de ofertas :)</p>
            </div>
        </div>
    </div>
    <div class="project-content">
        <div class="col-forth">
            <div class="project animate-box" style="background-image:url(http://cocobambucampinas.com.br/wp-content/uploads/2017/01/tipo-evento-coco-bambu-campinas-almoco-jantar-foto-lagosta.jpg);">
                <a href="#" class="desc">
                    <span>R$ 50</span>
                    <h3>Almoço Coco Bambu</h3>
                </a>
            </div>
        </div>
        <div class="col-forth">
            <div class="project animate-box" style="background-image:url(http://cocobambucampinas.com.br/wp-content/uploads/2017/01/tipo-evento-coco-bambu-campinas-almoco-jantar-foto-lagosta.jpg);">
                <a href="#" class="desc">
                    <span>R$ 50</span>
                    <h3>Almoço Coco Bambu</h3>
                </a>
            </div>
        </div>
        <div class="col-forth">
            <div class="project animate-box" style="background-image:url(http://cocobambucampinas.com.br/wp-content/uploads/2017/01/tipo-evento-coco-bambu-campinas-almoco-jantar-foto-lagosta.jpg);">
                <a href="#" class="desc">
                    <span>R$ 50</span>
                    <h3>Almoço Coco Bambu</h3>
                </a>
            </div>
        </div>
        <div class="col-forth">
            <div class="project animate-box" style="background-image:url(http://cocobambucampinas.com.br/wp-content/uploads/2017/01/tipo-evento-coco-bambu-campinas-almoco-jantar-foto-lagosta.jpg);">
                <a href="#" class="desc">
                    <span>R$ 50</span>
                    <h3>Almoço Coco Bambu</h3>
                </a>
            </div>
        </div>
        <div class="col-forth">
            <div class="project animate-box" style="background-image:url(http://cocobambucampinas.com.br/wp-content/uploads/2017/01/tipo-evento-coco-bambu-campinas-almoco-jantar-foto-lagosta.jpg);">
                <a href="#" class="desc">
                    <span>R$ 50</span>
                    <h3>Almoço Coco Bambu</h3>
                </a>
            </div>
        </div>
        <div class="col-forth">
            <div class="project animate-box" style="background-image:url(http://cocobambucampinas.com.br/wp-content/uploads/2017/01/tipo-evento-coco-bambu-campinas-almoco-jantar-foto-lagosta.jpg);">
                <a href="#" class="desc">
                    <span>R$ 50</span>
                    <h3>Almoço Coco Bambu</h3>
                </a>
            </div>
        </div>
        <div class="col-forth">
            <div class="project animate-box" style="background-image:url(http://cocobambucampinas.com.br/wp-content/uploads/2017/01/tipo-evento-coco-bambu-campinas-almoco-jantar-foto-lagosta.jpg);">
                <a href="#" class="desc">
                    <span>R$ 50</span>
                    <h3>Almoço Coco Bambu</h3>
                </a>
            </div>
        </div>
        <div class="col-forth">
            <div class="project animate-box" style="background-image:url(http://cocobambucampinas.com.br/wp-content/uploads/2017/01/tipo-evento-coco-bambu-campinas-almoco-jantar-foto-lagosta.jpg);">
                <a href="#" class="desc">
                    <span>R$ 50</span>
                    <h3>Almoço Coco Bambu</h3>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

